body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 1s ease;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: #efeffae1;
    color: #242323;
  }

  main {
   
    min-height: 100vh;
  }
  .menu-bar ul{
    margin: 0;
    padding: 0;
    background-color: #000000a0;
    color:#efeffae1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    width: 100vh;
    
  }
  .menu-bar li {
    list-style: none;
    text-decoration: none;
    padding-right: 10px;
  }
  .menu-bar i {
    font-size: 25px;

  }

  #container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  #sub-container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    min-width: 400px;
    gap: 20px;
  }

  #container-home-reloj {
    background-color: #000000a0;
    color:#efeffae1;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    text-align: center;
    width: 250px;
  }

/*
  #container-home-reloj {
    background-color: #000000a0;
    color: #d5d8d8f1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: right;
    text-align: center;
    min-width: 150px;
    border-radius: 20px;
    padding: 20px;
  }
*/
  #home-reloj{
    font-size: 20px;
    font-weight: 600;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  
  .hora-home {
    margin: 0px;
    padding: 0px;
    font-size: 50px;
  }

  .fecha-home {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: #e4bd11;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: #d5d8d8f1;
  }

 

  /*li {
    list-style: none;
    padding-top: 3px;
    background-color: #1414144b;
    font-size: 24px;
    
    font-weight: bold;
    border-radius: 10px;
    padding: 20px;
  }*/

  