body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 1s ease;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: #efeffae1;
    color: #242323;

  }

  main {
   
    min-height: 100vh;
  }
  .menu-bar ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    width: 100vh;
    
  }
  .menu-bar li {
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 10px;
  }
  .menu-bar i {
    font-size: 25px;
    color: #000000d3;
  }

  /* meteo pass en el sub y favoritos*/
  #container {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
 
  }

  /* meteo pass*/
  #sub-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    padding: 50px;
  }

  #container-home-reloj {
    background-color:#fffffead;
    color:#031541;;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    text-align: center;
    width: 220px;
    border-radius: 15px;
    padding-right: 20px;
  }

  #home-reloj{
    font-size: 20px;
    font-weight: 600;
    font-weight: lighter;
    letter-spacing: 1px;
    
  }
  
  .hora-home {
    margin: 0px;
    padding: 0px;
    font-size: 50px;
  }

  .fecha-home {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
    color: #aa3702de;
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }

 